body {
      font-family: Arial;
      background: #f4f4f4;
      text-align: center;
    }

    .container {
      width: 350px;
      margin: 40px auto;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px gray;
    }

    input {
      width: 70%;
      padding: 8px;
    }

    button {
      padding: 8px 10px;
      cursor: pointer;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      background: #eee;
      margin: 8px 0;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .completed {
      text-decoration: line-through;
      background: #c8f7c5;
    }

    .deleteBtn {
      background: red;
      color: white;
      border: none;
      padding: 5px 8px;
      cursor: pointer;
    }

    .dark {
      background: #222;
      color: white;
    }

    .dark .container {
      background: #333;
    }